* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #f2cb05;
  --red: #dc3545;
}
/* navbar */
.nav {
  text-align: center;
}
.navbar a {
  margin-top: 10px;
}
#hr {
  background-color: var(--yellow);
  padding: 6px;
}
.navbar .navbar-nav {
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar .nav-link {
  transition: 0.3s ease;
}
.navbar .nav-link:hover {
  color: var(--yellow);
}
.navbar-brand img {
  width: 40%;
  height: 40%;
}
/* -------end navbar------- */
/* -------carousel------- */
.carousel-item {
  max-height: calc(100vh - 90px);
}
.carousel-caption h5 {
  color: var(--yellow);
  font-size: 2.4rem;
  text-shadow: 3px 6px 6px black;
}
.carousel-caption p {
  text-shadow: 3px 6px 6px black;
  font-weight: 500;
}
.carousel-caption .btn {
  width: 7rem;
}
.carousel-caption {
  bottom: 2rem;
}
.carousel-indicators {
  gap: 0.7em;
}

.carousel-indicators button {
  /* background-color: var(--yellow) !important; */
}
/* -------end carousel------- */
#about h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* brands */
#brands {
  margin-top: 100px;
}
#brands h2 {
  font-size: 3rem;
  font-weight: 500;
}
#brands .row {
  margin-top: 90px;
}

section#brands .card {
  transition: 0.3s all;
}
section#brands .card:hover {
  transform: scale(1.02);
}
section#brands .a:hover {
  opacity: 0.6;
}
/* brands */
/* investors */
#investors {
  margin-bottom: 50px;
}
#investors h2 {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: 500;
}
#investors h5 {
  color: var(--yellow);
  font-size: 2.4rem;
  text-shadow: 3px 6px 6px black;
}
.about .investors p {
  text-shadow: 3px 6px 6px black;
  font-weight: 500;
}
#investors .card {
  margin-top: 130px;
}
/* investors */
/* careers */
#careers h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 50px;
}
#careers img {
  background-color: aqua;
  width: 90%;
  height: 90%;
  margin-bottom: 50px;
  float: right;
}
#careers p {
  margin-top: 30px;
  font-size: 3srem;
  line-height: 1.5;
  text-align: left;
}
#careers .baslik {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
}
#careers .baslik::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 0px;
  width: 10%;
  border-bottom: 7px solid var(--yellow);
}
footer {
  background-color: var(--yellow);
}
#footer p {
  font-size: 1rem;
  margin-top: 20px;
  color: white;
}
/* careers */
