* {
}
:root {
  --yellow: #f2cb05;
  --red: #dc3545;
}
/* -------navbar------- */
.navbar .navbar-nav {
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar .nav-link {
  transition: 0.3s ease;
}
.navbar .nav-link:hover {
  color: var(--yellow);
}
.navbar-brand img {
  width: 50%;
  height: 50%;
}
/* -------navbar------- */
/* -------carousel------- */
.carousel-item {
  max-height: calc(100vh - 90px);
}
.carousel-caption h5 {
  color: var(--yellow);
  font-size: 2.4rem;
  text-shadow: 3px 6px 6px black;
}
/* -------carousel------- */
